.shopify-section__announcement-bar {
  z-index: 6;
}

.announcement-bar {
  background-color: $black;
  color: $white;
  padding: 6px 0;
  font-size: 13px;
  font-size: 0.66667rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

