.shopify-section__announcement-bar {
  z-index: 6;
}

.announcement-bar {
  background-color: $black;
  padding: 6px 0;
  text-align: center;
  line-height: 1;

  @include av-mq("lap-and-up") {
    padding: 8px 0;
  }
}

.announcement-bar__content {
  color: $white;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include av-mq("lap-and-up") {
    font-weight: 14px;
  }
}