.collection__top {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  min-height: 150px;
  width: 100%;
  text-align: center;
  background-color: $accent;
  overflow: hidden;

  &::before {
    z-index: 1;
  }
}

.collection__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  font-family: 'object-fit: cover; object-position: center center;';
  /* for polyfilling IE */

  @if lightness($accent) > 30 {
    mix-blend-mode: multiply;
  }

  @else {
    mix-blend-mode: screen;
  }
}

.collection__info {
  position: relative;
  padding: 50px 25px;
  width: 100%;
  z-index: 1;
}

.collection__title {
  margin-bottom: 20px;
  color: currentColor;
  text-transform: uppercase;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@include av-mq("handheld") {
  .collection__info {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}


@include av-mq("lap-and-up") {
  .list-products--with-collection-image {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    .collection__top {
      height: auto;
      margin-bottom: 0;
    }

    /* First child is always the one with the image of the collection */
    .grid__cell:first-child {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 35px;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
    }
  }
}


/**
 * FILTERS
 */

.collection__filters {
  margin-bottom: 25px;
  overflow: hidden;
}

.collection__filter {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

@include av-mq("handheld-and-up") {
  .collection__filters {
    margin-bottom: 50px;
  }

  .collection__filter {
    display: inline-block;
    margin-bottom: 0;

    &:last-child {
      float: right;
    }
  }
}


.list-collections {
  margin-bottom: -25px;
}

@include av-mq("thumb") {
  .template-index .list-collections {
    margin: 0 -25px;
  }

  .template-index .list-collections .grid__cell {
    margin: 0 5px;
    padding: 0;
  }

  .template-index .list-collections .collection-item {
    margin-bottom: 0;
  }
}


@include av-mq("lap-and-up") {
  .list-collections {
    margin-bottom: -35px;
  }
}