.faq {
  .box__content {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }
}

.faq__item:not(:last-child) {
  margin-bottom: 0.9em;
}

.faq__item--expandable {
  cursor: pointer;
}

.faq__item--expandable .faq__answer {
  display: none;
}

.faq__separator {
  font-weight: $bold;
  display: inline-block;
  margin-bottom: 20px;
}

.faq__separator:not(:first-child) {
  padding-top: 40px;
  margin-top: 20px;
  border-top: $base-border;
}

.faq__question {
  margin-bottom: 0.2em;
  display: inline-block;

  &.link:hover + .icon-dropdown-arrow,
  &.link:focus + .icon-dropdown-arrow {
    fill: $accent;
  }
}

.icon-dropdown-arrow {
  display: inline-block;
  margin-right: 8px;
  width: 12px;
  position: relative;
  top: -1px;
  transition: $nice-trans;

  &.open {
    transform: rotate(-180deg);
  }
}

.faq__answer {
  margin: 10px 0 40px;

  p {
    font-size: 14px;
  }
}