.footer {
  background: $black;
  color: $white;
  font-size: 13px;
  border: 25px solid $black;
  box-shadow: inset 0px 0px 0px 2px $white;

  p {
    font-size: 13px;
  }

  a:hover {
    color: $accent;
  }
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__block {
  padding-top: 50px;
  width: 100%;

  @include av-mq('handheld') {
    width: 50%;
    padding: 40px 25px 25px;
  }

  @include av-mq('lap-and-up') {
    width: 25%;
    padding: 40px 25px 25px;
  }

  .social-media {
    padding: 6px 0;
  }

  .social-media__item {

    svg {
      fill: $accent;
    }
  }
}


@include av-mq('lap-and-up') {
  .footer__block-large {
    width: 30%;
  }

  .footer__block-small {
    width: 20%;
  }
}

.footer__title {
  color: $white;
  font-weight: $bold;
  font-size: 12px;
  margin-bottom: 20px;
  padding-bottom: 3px;
  border-bottom: 1px solid $accent;
  display: inline-block;
}

.footer__text {
  margin-bottom: 1.35em;
}

.footer__link:not(:last-child) {
  margin-bottom: 8px;
}

.footer__copyright {
  margin: 10px 0;
  font-size: 11px;
  text-align: center;

  @include av-mq('handheld-and-up') {
    margin-top: 0;
    text-align: left;
  }
}

.footer__payment-methods {
  margin-top: 15px;

  @include av-mq('handheld-and-up') {
    float: right;
    margin-top: -5px;
  }
}

.footer__payment-method {
  display: inline-block;
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }

  svg {
    width: 30px;
    height: 30px;
  }
}

.tweet {
  margin-top: 6px;
  contain: content;
  background: $white;
  color: $black;

  .link,
  .hashtag {
    @extend .link--primary;
  }
}

p.tweet__username {
  margin: 0 0 15px -2px;
  color: $accent;
  font-size: 0.85em;

  svg {
    margin-right: 8px;
  }
}

.tweet__username .icon-twitter {
  fill: #1CA1F2;
}

.tweet__content {
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;

  @include av-mq('handheld-and-up') {
    margin-bottom: 15px;
  }
}

.timeline-Tweet-text {
  font-size: 11px;
}

.tweet__content .Emoji {
  max-width: 15px;
}

.tweet__date {
  font-size: 10px;
  text-transform: uppercase;
  text-align: right;
}
