.shopify-section__header {
  position: sticky;
  top: 0;
  z-index: 5;
  background: $background;
}

.header {
  position: relative;
  color: $heading-color;
  background: $white;
  border-bottom: 2px solid $black;

  svg {
    width: 20px;
    height: 24px;
  }
}

.page__container:not(.page__container--secondary) .header {
  box-shadow: 0 1px $border-color;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--minimal {
  text-align: center;

  .header__inner {
    position: relative;
    justify-content: center;
  }

  .header__logo {
    margin: 0 0 0 45px;

    @include av-mq("handheld-and-up") {
      margin-left: 62px;
    }
  }
}


.header__logo {
  padding: 10px;

  a,
  a:hover {
    color: $black;
  }
}

.header__logo-text {
  display: none;
}

.header__logo-link {
  display: inline-block;
  text-align: center;
}

.header__main-nav {
  display: none;
}

.header__nav-toggle {
  width: 21px;
  height: 15px;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  vertical-align: middle;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 21px;
    background: $heading-color;
    opacity: 1;
    left: 0;
    transition: 0.25s ease-in-out;
    will-change: transform;
  }

  span:nth-child(1) {
    top: 0;
  }

  span:nth-child(2) {
    top: 6px;
  }

  span:nth-child(3) {
    top: 12px;
  }
}

.header__nav-toggle--open {
  span:nth-child(1) {
    top: 6px;
    transform: rotate(135deg);
  }

  span:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);
  }

  span:nth-child(3) {
    top: 6px;
    transform: rotate(-135deg);
  }
}

.header__links {
  font-size: 13px; 
  letter-spacing: 2px;
  font-weight: $bold;
  text-transform: uppercase;
}

.header__link {
  display: inline-block;
  
  svg {
    transform: translate3d(0, 0, 0);/* Force acceleration on Safari */
  }
}

.header__link-anchor {
  display: block;
  color: $black;
  padding: 20px 10px;
  border-bottom: none;
}

.header__link-current {
   color: $accent;

  .link-underline { 
    border-bottom: 1px solid $accent; 
  }
  
  &:hover .link-underline::after {
   display: none;
  }
} 

.header__cart-count {
  position: absolute;
  text-align: center;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  color: $white;
  line-height: 1;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;

  @include av-mq("lap-and-up") {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: -5px;
    vertical-align: middle;
    border-radius: 100%;
    background: $accent;
    line-height: 16px;
  }
}

.header__cart-count-wrapper {
  display: block;

  &:hover .header__cart-count {
    transform: scale(1.15);
  }
}

.header__password {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
}

@include av-mq("lap-and-up") {
  .header__logo--centered {
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform: scale(1.7);
  }

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo,
  .header__secondary-nav {
    display: inline-block;
    vertical-align: middle;
  }

  .header__secondary-nav {
    flex: 1 0 auto;
    text-align: right;

    .header__link {
      position: relative;
      margin-right: 6px;
    }
  }

  .header__link .icon-search {
    position: relative;
    top: -3px;
  }

  .ie9 {
    .header__inner {
      display: block;
    }

    .header__secondary-nav {
      float: right;
      margin-top: 1px;
    }
  }
}


@include av-mq("desk") {
  .header {
    opacity: 0;
  }

  .header--init {
    opacity: 1;
  }

  .header__logo {
    margin-left: 0;
    margin-right: 55px;
    transform: scale(1.7);
  }

  .header__main-nav {
    display: inline-block;
    vertical-align: middle;
  }

  .header__secondary-nav {
    margin-left: 40px;
  }
}

// CURRENCY SELECTOR
.currency-selector {
  
  svg.icon-dropdown-arrow {
    right: -6px;
    width: 9px;
    height: 9px;
    vertical-align: baseline;
  }

  select {
    height: auto;
    padding-right: 16px;
    border: none;
    font-size: inherit;

    &:focus {
      outline: auto 5px -webkit-focus-ring-color;
    }
  }
}