.page__container {
  
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  background: $background;
}

.page__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0;
  z-index: 5;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

.page__overlay--open {
  opacity: 0.6;
  visibility: visible;
  transition: opacity 0.3s;
}

.page__content-wrapper {
  padding: 25px 0 30px 0;
}

.page__content-wrapper--no-top-padding {
  padding-top: 0 !important;
}

.page__content-wrapper--force-background {
  background: $background;
}

.page__header {
  position: relative;
  margin-bottom: 1.8em;
}

.page__title {
  text-align: center;
  letter-spacing: 3.2px;
}

.page__description {
  text-align: center;
  max-width: 600px;
  margin: -12px auto 0 auto;
}

.page__action-button {
  margin-top: -10px;
}

.page__container--secondary .page__header {
  margin-bottom: 1.2em;
}

@include av-mq('handheld-and-up') {
  .page__content-wrapper {
    padding: 35px 0;
  }

  .page__header {
    margin-bottom: 3em;
  }

  .page__action-button {
    position: absolute;
    margin-top: 0;
    right: 0;
    top: 0;
  }

  .page__container--secondary .page__header {
    margin-bottom: 1.7em;
  }
}

@include av-mq('desk') {
  .page__content-wrapper {
    padding: 50px 0;
  }

  .page__header {
    margin-bottom: 5em;
  }

  .page__description {
    margin-top: 0;
  }

  .page__action-button {
    top: 8px;
  }

  .page__container--secondary .page__header {
    margin-bottom: 2.4em;
  }
}