/**
 * Some specific rules that change the header on password page
 */

.template-password .main,
.shopify-section__password {
  
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.password {
  position: relative;
  
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  color: #ffffff;
}

.password__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
}

.password__aside {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.password__main {
  margin: 50px 0 75px 0;
}

.password__title {
  margin-bottom: 0.5em;
  color: currentColor;
}

.password__message {
  margin-bottom: 2em;
}

.password__aside {
  font-size: 0.9em;
}

.password__admin-link {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  font-size: 14px;
  font-size: 0.77778rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.9px;

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 2px;
    left: 0;
    background: currentColor;
  }
}

.password__powered-by {
  svg {
    margin-left: 4px;
    width: 90px;
    height: 25px;
    vertical-align: bottom;
  }
}

@include av-mq("handheld-and-up") {
  .password__aside {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
  }
}


@include av-mq("desk") {
  .password__message {
    margin-bottom: 3.6em;
  }
}