// Promo in home page 
// This section is a bit particular visually, so if it's the first or last, we remove some margin so that it looks better 
.shopify-section__promotion:last-of-type .section {
  margin-bottom: 0;
}

.shopify-section__promotion:first-of-type .section {
  margin-top: 0;
}

.promotion {
  position: relative;
  padding: 60px 0;
  background-size: cover;
  background-position: center center;

  &::after {
    content: '';
    position: absolute;
    background-color: rgba(#000, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.promotion__text {
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: $white;
  z-index: 1;
}

@include av-mq("handheld-and-up") {
  .promotion {
    padding: 100px 0;
  }

  .promotion__text {
    padding: 0 50px;
  }
}


@include av-mq("desk") {
  .promotion {
    padding: 145px 0;
  }

  .promotion__text {
    padding: 0 150px;
  }
}
