.button,
a.button {
  position: relative;
  display: inline-block;
  line-height: normal;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  padding: 13px 17px;
  font-size: 13px;
  font-weight: 600;
  transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  text-align: center;
  letter-spacing: 0.75px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: inherit;
  }

  @include av-mq('handheld-and-up') {
    padding: 16px 20px 15px;
    font-size: 16px;
    font-size: 0.88889rem;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  svg {
    margin-right: 14px;
    height: 12px;
    width: 12px;
    vertical-align: -1px;
  }
}

.button--small {
  padding: 10px 15px;

  @include av-mq('handheld-and-up') {
    padding: 12px 18px;
  }
}

.button--full {
  width: 100%;
}

.button + .button {
  margin-top: 15px;
}

.button--primary {
  color: $primary-button-color;
  background: $primary-button-background;

  &:hover {
    background: darken($primary-button-background, 15%);
  }
}

.button--secondary {
  color: $secondary-button-color;
  background: $secondary-button-background;

  &:hover {
    background: lighten($secondary-button-background, 15%);
  }
}

.button--primary.button--loading,
.button--primary.button--loading:hover {
  color: $primary-button-background;
  background: $primary-button-background;
}

.button--secondary.button--loading,
.button--secondary.button--loading:hover {
  color: $secondary-button-background;
  background: $secondary-button-background;
}

.button--loading::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
  border-radius: 50%;
  border: 3px solid $background;
  border-top-color: transparent;
  animation: buttonLoadingSpinner 0.6s infinite linear;
}

.button-wrapper {
  text-align: center;
}

.button--enforce-min-width {
  min-width: 220px;
}