{%- assign force_secondary_background = true -%}

<div class="page__content-wrapper">
  <div class="headingDecorative">
    <h1 class="headingDecorative-heading">{{ page.title }}</h1>
  </div>
  <div class="container">
    {% section 'list-collections-template' %}
  </div>
</div>