{%- if section.settings.show_announcement -%}
  <aside class="announcement-bar">
    <div class="container">
      <p class="announcement-bar__content">{{ section.settings.announcement_text | escape }}</p>
    </div>
  </aside>
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "class": "shopify-section__announcement-bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Enable announcement",
      "default": true
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement text",
      "default": "Announce something here"
    }
  ]
}
{% endschema %}