<section class="section section-{{ section.id }}">
  <div class="container">
    {%- if section.settings.title != blank -%}
      <div class="headingDecorative">
        <h2 class="headingDecorative-heading">{{ section.settings.title | escape }}</h2>
      </div>
    {%- endif -%}
    <div class="container container--flex list-collections" data-slides-count="{{ section.blocks.size }}">
      {%- for block in section.blocks -%}
        {%- assign collection = collections[block.settings.collection] -%}
        
        {%- unless collection.empty? -%}
          {%- assign collection_image = collection.image | default: collection.products.first.featured_image -%}
        
        {% include 'collection-item' %}
          
        {%- else -%}
          <a href="#" class="imageBox collection-item" data-slide-index="{{ forloop.index0 }}">
            <div class="imageBox-inner">
              <img src="https://s-media-cache-ak0.pinimg.com/originals/88/ce/8c/88ce8c8bbe3262b3438f65f0f0e1c313.jpg" alt="placeholder image" />
              <div class="imageBox-textWrapper">
                <h3>Collection Name</h3>
              </div>
            </div>
          </a>
        {%- endunless -%}
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection list",
  "class": "shopify-section__collection-list",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Collection list",
      "settings": {},
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}