{%- if template.name == 'list-collections' -%}
  {%- assign linklist = linklists.all-collections -%}
{%- elsif template == 'page.collections' -%}
  {%- assign linklist_handle = page.content | strip_html | handleize -%}
  {%- assign linklist = linklists[linklist_handle] -%}
{%- endif -%}

<div class="list-collections container container--flex">
  {%- unless linklist.empty? -%}
    {%- for link in linklist.links -%}
      {%- if link.type != 'collection_link' -%}
        {%- continue -%}
      {%- endif -%}
      {%- include 'collection-item', show_description: section.settings.show_description -%}
    {%- endfor -%}
  {%- else -%}
    {%- for collection in collections -%}
      {%- unless collection.handle == 'frontpage' -%}
        {%- include 'collection-item', show_description: section.settings.show_description -%}
      {%- endunless -%}
    {%- endfor -%}
  {%- endunless -%}
</div>

{% schema %}
{
  "name": "List of collections page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show collections' description excerpt",
      "default": true
    }
  ]
}
{% endschema %}